.card__flag {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card {
  padding: 2rem;
  text-align: center;
  height: min-content;
}
.card h4 {
  margin: 1rem 0;
}
.card img {
  margin: 0 1rem;
}

.card p {
  font-size: 1.5rem;
  color: rgb(103, 100, 100);
}
